@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif, 'Times New Roman';
}

.btn, button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #e99a6c;
  margin: 0 1rem;
}

button:hover,
.btn:hover {
  transition: background-color 0.3s;
  background-color: #e99a6c;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #af663c;
  padding: 0 10%;
}

.header h2 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
  font-size: 1.5rem;
}

.header a {
  text-decoration: none;
  color: #f1dbce;
}

.header a:hover {
  transition: color 0.5s;
  color: white;
}

.header a:active,
.header a.active {
  color: white;
}

.recipeImg {
  height: 30em;
  width: auto;
}

.thumbnail {
  height: 10em;
  width: auto;
}
