@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif, 'Times New Roman';
  color: #442512;
}

a {
  text-decoration: none;
}

a:hover {
  transition: color 0.3s;
  color: #8d5332;
}

.addRecipeForm {
  margin: 0 auto; 
  width: 250px;
  font-size: 1.4em;
  text-align: center;
}

.addRecipeForm div {
  padding: .5em;
}

.addRecipeForm input, textarea {
  font-size: .7em;
  padding: .5em;
  border: 1px solid #c55c1b;
  border-radius: 3px;
}

.btn, button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #f0b492;
  margin: 0 1rem;
}

button:hover,
.btn:hover {
  transition: background-color 0.3s;
  background-color: #ffd7c1;
}

.deleteButton {
  margin: 2em;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #af663c;
  padding: 0 10%;
}

.header h1 {
  font-size: 2.5rem;
}

.header h2 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
  font-size: 1.7rem;
}

.header a {
  color: #f1dbce;
}

.header a:hover {
  transition: color 0.5s;
  color: white;
}

.header a:active,
.header a.active {
  color: white;
}

.itemHeader {
  padding: 1em;
  font-size: 2.3em;
}

.pageHeader {
  color: #c55c1b;
  font-size: 3em;
  text-align: center;
}

.recipeContent {
  margin: 0 2% 0 2%;
  background-color: #fff6f1;
  box-shadow: inset 0 0 30px #d3ab92;
  border-radius: 3px;
  padding: 3em;
}

.recipeContent p {
  margin: 3em 6em 2em 6em;
}

.recipeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 41em;
  border-radius: 3px;
  border: 1px solid #dfc5b6;
}

.recipeItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2% 1% 2%;
  background-color: #fff6f1;
  box-shadow: inset 0 0 30px #d3ab92;
  border-radius: 3px;
}

.thumbnail {
  margin: 1em;
  height: 10em;
  width: auto;
  border-radius: 3px;
  border: 1px solid #dfc5b6;
}

@media only screen and (max-width: 800px) {
  .recipeImg {
    width: 23em;
  }
  .recipeContent p {
    margin: 1em;
  }
  .header h1 {
    font-size: 2em;
  }
  .pageHeader {
    font-size: 2.2em;
  }
  .thumbnail {
    height: 7em;
  }
  .itemHeader {
    font-size: 1.6em;
  }
}